---

interface OneProductProps {
	id: number;
	attributes: {
		Title: string;
		Price: number;
		Image?: {
			data: [{
				id: number,
				attributes: {
					name: string,
					url: string
				}
			}]
		}
		createdAt: Date;
	}
}

const { id, attributes } = Astro.props;
const { Title, Price, Image } = attributes;

const STRAPI_URL = import.meta.env.PUBLIC_STRAPI_API_URL;
---

<div class="col-lg-3">
	<div id="link-card" class="card card-bordered mb-5">
		<a href={"/products/" + id}>
			<div id="test" class="d-flex flex-center min-h-300px card-body">
				{Image.data 
					? <img class="w-100 h-100" src={Image.data ? STRAPI_URL + Image.data[0].attributes.url : ""}/>
					: <p>No image</p>
				}
			</div>
			<div class="d-flex justify-content-between card-footer">
				<h2>
					{Title}
				</h2>
				<p class="fs-4 fw-bold">
					{Price} $
				</p>
			</div>
		</a>
	</div>
</div>


<style>

	#link-card {
		background-color: white;
		background-image: var(--accent-gradient);
		background-size: 400%;
		border-radius: 0.5rem;
		background-position: 100%;
		transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
	}

	#link-card > a {
		width: 100%;
		text-decoration: none;
		background-color: white;
		opacity: 0.9;
	}
	h2 {
		margin: 0;
		font-size: 1.25rem;
		transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
	}
	p {
		margin-top: 0.5rem;
		margin-bottom: 0;
		color: #444;
	}
	#link-card:is(:hover, :focus-within) {
		background-position: 0;
	}
	#link-card:is(:hover, :focus-within) h2 {
		color: rgb(var(--accent));
	}
	#link-card:is(:hover, :focus-within) p {
		color: rgb(var(--accent));
	}
</style>
