---
import Card, { OneProduct } from "./Card.astro";


const authorizationCookie = Astro.cookies.get("Authorization");

const productsData = await fetch("http://localhost:1337/api/products?populate=*", {
        method: "GET",
        headers: {
            Authorization: authorizationCookie.value as string
        }
    })
    .then((response) => response.json() )
    .then((responseData) => responseData.data )

---

<main>
    <div class="container-sm">
        <div class="row g-5">
                {productsData.map((oneProduct: OneProduct) => {
                    return (
                        <Card {...oneProduct}/>
                    )
                })}
        </div>
    </div>
</main>