---
export interface ProductInfoProps {
    data: {
        id: number;
        attributes: {
            Title: string;
            Price: string;
        }
    }
}

const productData = Astro.props.data;

---

<div id="product" class="ms-5">
    <label for="product-title">Title</label>
    <div id="product-title" class="d-flex flex-center bg-secondary h-50px fs-2x ">
        {productData.attributes.Title}
    </div>

    <label for="product-price" class="mt-5">Price</label>
    <div id="product-price" class="d-flex flex-center bg-secondary h-50px fs-2x">
        {productData.attributes.Price} $
    </div>

    <div class="d-flex flex-column flex-center">
        <button class="btn btn-success w-100 h-30px mt-2 lh-0">Add product</button>
        <button class="btn btn-primary w-100 h-30px mt-2 lh-0">Edit product</button>
        <button class="btn btn-danger w-100 h-30px mt-2 lh-0">Delete product</button>
    </div>

</div>

<style>
    #product {
        flex: 0.35;
    }
</style>