---
import ProductEdit from "./ProductEdit.astro";

export interface ProductInfoProps {
    data: {
        id: number;
        attributes: {
            Title: string;
            Price: string;
        }
    }
}

const productData = Astro.props.data;

---

<div id="product" class="ms-5">
    <label for="product-title">Title</label>
    <div id="product-title" class="d-flex flex-center bg-secondary h-50px fs-2x ">
        {productData.attributes.Title}
    </div>

    <label for="product-price" class="mt-5">Price</label>
    <div id="product-price" class="d-flex flex-center bg-secondary h-50px fs-2x">
        {productData.attributes.Price} $
    </div>

    <div class="d-flex flex-column flex-center">
        <div class="d-flex flex-column w-100 form-control mt-2">
            <p>Main zone</p>
            <button class="btn btn-success h-30px mt-2 lh-0">Add product to basket</button>
            <button class="btn btn-secondary h-30px mt-2 lh-0">Remove product from basket</button>
        </div>
        <div class="d-flex flex-column w-100 form-control mt-2">
            <p>Edit zone</p>
            <ProductEdit></ProductEdit>
            <button class="btn btn-danger h-30px mt-2 lh-0">Delete product</button>
        </div>
    </div>

</div>

<style>
    #product {
        flex: 0.35;
    }
</style>