---
import type { Card as CardType } from "../types/Card";
import { toCardProps } from "../utils/jsonResponse";
import Card from "./Card.astro";

const authorizationCookie = Astro.cookies.get("Authorization");

const productsData = await fetch("http://localhost:1337/api/products?populate=*", {
        method: "GET",
        headers: {
            Authorization: authorizationCookie.value as string
        }
    })
    .then((response) => response.json() )
    .then((responseData) => {
        return toCardProps(responseData.data);
    })
---

<div class="container-sm">
    <div class="row">
        {productsData.map((oneProduct: CardType) => {
            return (
                <Card id={oneProduct.id}
                    title={oneProduct.title}
                    price={oneProduct.price}
                    image={oneProduct.image}
                />
            )
        })}
    </div>
</div>