---
import Layout from "../layouts/Layout.astro"
import Card, { OneProduct } from "./Card.astro";


const authorizationCookie = Astro.cookies.get("Authorization");

const productsData = await fetch("http://localhost:1337/api/products?populate=*", {
        method: "GET",
        headers: {
            Authorization: authorizationCookie.value as string
        }
    })
    .then((response) => response.json() )
    .then((responseData) => responseData.data )
    console.log(productsData);  
---

<main>
    <div id="cards">
        {productsData.map((oneProduct: OneProduct) => {
            return (
                <Card {...oneProduct}/>
            )
        })}
    </div>
</main>

<style>
    #cards {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
</style>