---
import type { Image } from "../../types/Image";

const STRAPI_URL = import.meta.env.PUBLIC_STRAPI_API_URL;

export interface CarouselProps {
    data: [Image]
}

const images = Astro.props.data;
---

<div id="kt_carousel_2_carousel" class="carousel carousel-custom slide" data-bs-ride="carousel" data-bs-interval="8000">
    <div class="carousel-inner">
        {images && images.map((oneImage: any, index: number) => {
            return (
                <div id="carousel-wrapper-image" class={index === 0 ? "carousel-item active" : "carousel-item"}>
                    <img id="carousel-image" src={STRAPI_URL + oneImage.attributes.url}/>
                </div>
            )
        })}
    </div>

    <div>
        <ol class="p-0 m-0 carousel-indicators carousel-indicators-bullet carousel-indicators-active-primary">
            {images && images.map((oneImage: any, index: number) => {
                return (
                    <li data-bs-target="#kt_carousel_2_carousel" data-bs-slide-to={index} class={index === 0 ? "ms-1 active" : "ms-1"}></li>
                )
            })}
        </ol>
    </div>
</div>

<style>
    #kt_carousel_2_carousel {
        width: 600px;
        flex: 0.65;
    }

    #carousel-image {
        width: 100%;
        height: 100%;
    }
</style>