---
import type { Image } from "../../types/Image";

const STRAPI_URL = import.meta.env.PUBLIC_STRAPI_API_URL;

export interface CarouselProps {
    data: [Image]
}

const images = Astro.props.data;
---


<div id="kt_carousel_2_carousel" class="col-lg-8 carousel carousel-custom slide" data-bs-ride="carousel" data-bs-interval="8000">
    {images ? 
        <div class="carousel-inner">
            {
             images.map((oneImage: any, index: number) => {
                return (
                    <div id="carousel-wrapper-image" class={index === 0 ? "carousel-item active" : "carousel-item"}>
                        <img class="w-100 h-100" src={STRAPI_URL + oneImage.attributes.url}/>
                    </div>
                )
                })
            }
        </div>
        : <div class="d-flex flex-center h-100 fs-2">
            <p>No image</p>
        </div>
    }

    <div>
        <ol class="p-0 m-0 carousel-indicators carousel-indicators-bullet carousel-indicators-active-primary">
            {images && images.map((oneImage: any, index: number) => {
                return (
                    <li data-bs-target="#kt_carousel_2_carousel" data-bs-slide-to={index} class={index === 0 ? "ms-1 active" : "ms-1"}></li>
                )
            })}
        </ol>
    </div>
</div>
