---
import type { Product } from "../../types/Product";
import type { User } from "../../types/User";
import ProductBasket from "./ProductBasket.astro";
import ProductDelete from "./ProductDelete.astro";
import ProductEdit from "./ProductEdit.astro";

export interface Props {
    myData: User,
    data: Product
}

const productData = Astro.props.data;
const { myData } = Astro.props;
---

<div id="product" class="col-lg-4">
    <label for="product-title">Title</label>
    <div id="product-title" class="d-flex flex-center bg-secondary fs-2x ">
        {productData.attributes.Title}
    </div>

    <label for="product-price" class="mt-5">Price</label>
    <div id="product-price" class="d-flex flex-center bg-secondary fs-2x">
        {productData.attributes.Price} $
    </div>

    <div class="d-flex flex-column flex-center">
        <div class="d-flex flex-column w-100 form-control mt-2">
            <p>Main zone</p>
            <ProductBasket myData={myData}></ProductBasket>
        </div>
        <div class="d-flex flex-column w-100 form-control mt-2">
            <p>Edit zone</p>
            <ProductEdit></ProductEdit>
            <ProductDelete></ProductDelete>
        </div>
    </div>

</div>