---
import PasswordMeter from "../ui/PasswordMeter.astro";
import EmailInput from "../ui/EmailInput.astro";
import ValidationButton from "../ui/ValidationButton.astro";
import UsernameInput from "../ui/UsernameInput.astro";

---

<form id="form-enter-auth"
	class="d-flex flex-column flex-center form p-8 bg-white border border-gray-300 rounded shadow-sm"
	autocomplete="off"
	onsubmit="return false"
>
	<UsernameInput />
	<EmailInput />
	<PasswordMeter />
	<ValidationButton buttonText="Register" />
</form>


<script>
function sendAuthData() {
	const formData = new FormData(form);

	fetch("/api/auth/register", {
		method: "POST",
		body: JSON.stringify(Object.fromEntries(formData))
	})
	.then((response) => {
		if(response.status == 200) {
			response.json()
			.then((data) => {
				document.location.href = "/products"

				document.cookie = `Authorization=Bearer ${data.jwt }`;
			})
		}
	})
};

const form = document.getElementById("form-enter-auth") as HTMLFormElement;

form.addEventListener("submit", sendAuthData, false);

</script>