---
import PasswordMeter from "../../components/PasswordMeter.astro";
import EmailInput from "../../components/EmailInput.astro";
import ValidationButton from "../../components/ValidationButton.astro";
import UsernameInput from "../UsernameInput.astro";

export interface Props {
  buttonText: string;
}

const { buttonText } = Astro.props;

---

<form
  id="form-enter"
  class="d-flex flex-column flex-center form"
  autocomplete="off"
  onsubmit="return false"
>
  <EmailInput />
  <PasswordMeter />
  <ValidationButton buttonText={buttonText} />
</form>

<script>
  function sendLoginData() {
    const formData = new FormData();

    const formElements = form.elements
    const inputEmail = formElements[0] as HTMLInputElement;
    const inputPassword = formElements[1] as HTMLInputElement;
    
    formData.append("identifier", inputEmail.value);
    formData.append("password", inputPassword.value);

    fetch("http://localhost:1337/api/auth/local", {
      method: "post",
      body: formData
    })
    .then((response) => {
      return (response.json()
        .then((data) => {
          document.location.href = "/home"
          
          localStorage.setItem("Authorization", data.jwt);
        })  
      );
    })

  };

  const form = document.getElementById("form-enter") as HTMLFormElement;

  form.addEventListener("submit", sendLoginData, false);

</script>