---
import PasswordMeter from "../ui/PasswordMeter.astro";
import EmailInput from "../ui/EmailInput.astro";
import ValidationButton from "../ui/ValidationButton.astro";

export interface Props {
  buttonText: string;
}

const { buttonText } = Astro.props;

---

<form
  id="form-enter-login"
  class="d-flex flex-column flex-center form"
  autocomplete="off"
  onsubmit="return false"
>
  <EmailInput />
  <PasswordMeter />
  <ValidationButton buttonText={buttonText} />
</form>

<style>
  #form-enter-login {
    padding: 25px;
    border: 1px solid rgb(218, 218, 218);
    box-shadow: 0px 0px 5px gray;
    border-radius: 10px;
    background-color: white;
  }
</style>

<script>

  function sendLoginData() {
    const formData = new FormData();

    const formElements = form.elements
    const inputEmail = formElements[0] as HTMLInputElement;
    const inputPassword = formElements[1] as HTMLInputElement;
    
    formData.append("identifier", inputEmail.value);
    formData.append("password", inputPassword.value);

    fetch("http://localhost:1337/api/auth/local", {
      method: "post",
      body: formData
    })
    .then((response) => {
      return (response.json()
        .then((data) => {
          document.location.href = "/products"
          
          document.cookie = `Authorization=Bearer ${data.jwt }`;
        })  
      );
    })

  };

  const form = document.getElementById("form-enter") as HTMLFormElement;

  form.addEventListener("submit", sendLoginData, false);

</script>