---
import PasswordMeter from "../ui/PasswordMeter.astro";
import EmailInput from "../ui/EmailInput.astro";
import ValidationButton from "../ui/ValidationButton.astro";

---

<form id="form-enter-login"
	class="d-flex flex-column flex-center form p-8 bg-white border border-gray-300 rounded shadow-sm"
	autocomplete="off"
	onsubmit="return false"
>
	<EmailInput />
	<PasswordMeter />
	<ValidationButton buttonText="Sign in" />
</form>

<script>

function sendLoginData() {
    const formData = new FormData();

    const formElements = form.elements
    const inputEmail = formElements[0] as HTMLInputElement;
    const inputPassword = formElements[1] as HTMLInputElement;
    
    formData.append("identifier", inputEmail.value);
    formData.append("password", inputPassword.value);

    fetch("/api/auth/login", {
		method: "POST",
		body: JSON.stringify(Object.fromEntries(formData))
    })
	.then((response) => {
		if(response.status == 200) {
			response.json()
			.then((data) => {
				document.location.href = "/products"

				document.cookie = `Authorization=Bearer ${data.jwt }`;
			})
		}
	})
};

const form = document.getElementById("form-enter-login") as HTMLFormElement;

form.addEventListener("submit", sendLoginData, false);

</script>