<header>
    <div class="menu justify-content-end bg-light-dark">
        <div class="menu-item bg-hover-light-info">
            <a href="/products" class="menu-link">
                <span class="menu-icon">
                    <i class="bi bi-archive fs-3"></i>
                </span>
                <span class="menu-title">Products</span>
            </a>
        </div>
    
        <div class="menu-item bg-hover-light-info">
            <a href="/basket" class="menu-link">
                <span class="menu-icon">
                    <i class="bi bi-basket fs-3"></i>
                </span>
                <span class="menu-title">My basket</span>
            </a>
        </div>
    
        <div class="menu-item bg-hover-light-info">
            <a id="sign-out-link" href="/login" class="menu-link">
                <span class="menu-icon">
                    <i class="bi bi-box-arrow-right fs-3"></i>
                </span>
                <span class="menu-title">Sign out</span>
            </a>
        </div>
    </div>
</header>

<script>
import { deleteCookie } from "../utils/headers"

    const aLink = document.getElementById("sign-out-link") as HTMLAnchorElement;

    aLink.addEventListener("click", function() {
        signOut();
    })

    function signOut() {
        deleteCookie("Authorization");
    }
</script>