<header>
    <div class="menu justify-content-end bg-light-dark">
        <!--begin::Menu item-->
        <div class="menu-item">
            <a href="#" class="menu-link">
                <span class="menu-icon">
                    <i class="bi bi-bar-chart fs-3"></i>
                </span>
                <span class="menu-title">My basket</span>
            </a>
        </div>
        <!--end::Menu item-->
    
        <!--begin::Menu item-->
        <div class="menu-item">
            <a href="#" class="menu-link">
                <span class="menu-icon">
                    <i class="bi bi-bell fs-3"></i>
                </span>
                <span class="menu-title">Example Link</span>
                <span class="menu-badge">
                    <span class="badge badge-sm badge-circle badge-danger">5</span>
                </span>
            </a>
        </div>
        <!--end::Menu item-->
    
        <!--begin::Menu item-->
        <div class="menu-item">
            <a href="login" class="menu-link">
                <span class="menu-icon">
                    <i class="bi bi-calendar-event fs-3"></i>
                </span>
                <span class="menu-title">Sign out</span>
            </a>
        </div>
        <!--end::Menu item-->
    </div>
    <!--end::Menu-->
</header>