---
---

<div class="input-group mb-5">
  <!-- <label class="required fw-semibold fs-6 mb-2">Email Input</label> -->
  <span class="input-group-text" id="basic-addon1">
    <span class="svg-icon svg-icon-3x">
      <i class="las la-envelope fs-2"></i>
    </span>
  </span>
  <input
    type="email"
    name="email_input"
    class="form-control form-control-lg"
    placeholder="Enter email"
    value=""
  />
</div>
