---
---

<div class="fv-row mb-10">
  <label class="required fw-semibold fs-6 mb-2">Email Input</label>

  <input
    type="email"
    name="email_input"
    class="form-control form-control-lg"
    placeholder="Enter email"
    value=""
  />
</div>
