---
import AuthForm from "../components/forms/AuthForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Auth Page">
  <main class="d-flex flex-row flex-center">
    <div class="d-flex flex-column flex-center position-absolute top-25">
    <AuthForm buttonText="Register" />
    </div>
  </main>
</Layout>
