---
import AuthForm from "../components/forms/AuthForm.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Auth Page">
  <main class="d-flex flex-row flex-center">
    <AuthForm buttonText="Register" />
  </main>
</Layout>
