---
import Layout from "../layouts/Layout.astro";
import Menu from "../layouts/Menu.astro";
import Basket from "../components/Basket.astro";


---

<Layout title="My basket">
    <Menu></Menu>
    <main>
        <Basket></Basket>
    </main>
</Layout>