---
import Layout from "../layouts/Layout.astro";
import Menu from "../layouts/Menu.astro";
import Basket from "../components/Basket.astro";
import { getCookie } from "../utils/headers";

if(!getCookie(Astro.request, "Authorization")) {
    return Astro.redirect("/login");
}

---

<Layout title="My basket">
    <Menu></Menu>
    <main>
        <Basket></Basket>
    </main>
</Layout>