---
import Layout from "../layouts/Layout.astro";
import LoginForm from "../components/forms/LoginForm.astro";

---

<Layout title="Login Page">
	<main class="d-flex flex-row flex-center">
		<div class="d-flex flex-column flex-center position-absolute top-25">
			<LoginForm/>
			<a href="/auth" class="mt-4">Don't have an account yet?</a>
		</div>
	</main>
</Layout>
