---
---

<div class="input-group mb-5">
	<span class="input-group-text" id="basic-addon1">
		<span class="svg-icon svg-icon-3x">
			<i class="las la-user fs-2"></i>
		</span>
	</span>

	<input type="text"
		name="username"
		class="form-control form-control-lg"
		placeholder="Enter username"
		value=""
	/>
</div>
