---
import Carousel from "../../components/productInfo/Carousel.astro";
import ProductPanel from "../../components/productInfo/ProductPanel.astro";
import Layout from "../../layouts/Layout.astro"
import type { User } from "../../types/User";

const { id } = Astro.params;

const authorizationCookie = Astro.cookies.get("Authorization");

const oneProductData = await fetch(`http://localhost:1337/api/products/${id}/?populate=*`, {
    method: "GET",
    headers: {
        Authorization: authorizationCookie.value as string
    }
})
.then((response) => response.json() )
.then((responseData) => responseData.data )

const myData: User = await fetch("http://localhost:1337/api/users/me?populate[Cart][populate]=*", {
    method: "GET",
    headers: {
        Authorization: authorizationCookie.value as string
    }
})
    .then((response) => response.json() )
    .then((responseData) => responseData )

---


<Layout title={"product №" + id}>
    <main>
        <div id="product-container" class="d-flex p-3 m-2 border border-gray-300 rounded shadow-sm">
            <a class="position-absolute ms-2 mt-2 p-3 z-index-1 bg-light bg-hover-secondary rounded" href="/products">
                <img src="/media/icons/duotune/arrows/arr022.svg"/>
            </a>
            <Carousel data={oneProductData.attributes.Image.data}></Carousel>
            <ProductPanel data={oneProductData} myData={myData}></ProductPanel>
        </div>
    </main>
</Layout>