---
import Products from "../../components/Products.astro";
import Layout from "../../layouts/Layout.astro"
import Menu from "../../layouts/Menu.astro";
import { getCookie } from "../../utils/headers";

const cookie = Astro.request.headers.get("cookie");

if(!getCookie(cookie, "Authorization")) {
    return Astro.redirect("/login");
}

---

<Layout title="Home page">
    <Menu></Menu>
    <main>
        <Products></Products>
    </main>
</Layout>

<script src="../../utils/socket.io.ts"></script>