---
import Products from "../../components/Products.astro";
import Layout from "../../layouts/Layout.astro"
import Menu from "../../layouts/Menu.astro";

---

<Layout title="Home page">
    <Menu></Menu>
    <main>
        <Products></Products>
    </main>
</Layout>